.page_profil{
    width: 100%;
    margin-bottom: 60px;

    @include tablet{
        margin-bottom: 30px;
    }
    .container{
        .page_profil_top{
            width: 25%;
            margin: 30px auto 60px;
            padding: 30px;
            background: #DADADA;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            @include tablet{
                width: 45%;
            }

            @include mobile{
                width: 95%;
                margin: 30px auto;
            }

            .page_profil_top_text{
                font-weight: 600;
            }
            .bottom{
                margin: 20px 0 30px;
            }
            button{
                width: 100%;
                background: #101820;
                box-shadow: 0px 4px 4px rgba(114, 114, 114, 0.25);
                border-radius: 8px;
                color: #FEE715;
                font-weight: 600;
                font-size: 14px;
                padding: 8px 0;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
        .table_container{
            width: 100%;
            background-color: #101820;
            padding: 30px 0;
            box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
            border-radius: 20px;

            @include mobile{
                display: none;
            }

            .table_inf{
                display: inline-block;
                background: #FEE715;
                border-radius: 0px 5px 5px 0px;
                padding: 5px 20px;
                margin-bottom: 20px;
                font-weight: 600;
            }
            .table_row{
                width: 100%;
                @include flex();
                padding: 15px 50px;
                color: #FFFFFF;
                border-bottom: 2px solid #FEE715;

                @include tablet{
                    padding: 15px 30px;
                }

                .table_data{
                    width: 17.5%;
                }
                .one{
                    width: 30%;
                }
                .head{
                    font-weight: 700;
                }
            }
            .border{
                border-top: 2px solid #FEE715;
            }
        }
        .table_con_mob{
            width: 100%;
            background: #101820;
            padding: 20px 15px;
            box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            display: none;

            @include mobile{
                display: block !important;
            }
            .table_col{
                @include flex();
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid #FEE715;

                &:last-child{
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: none;
                }
                .tr{
                    width: 50%;
                    .th{
                        font-weight: 700;
                        font-size: 14px;
                        color: #FFFFFF;
                        margin-bottom: 30px;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    .td{
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 18px;
                        color: #FFFFFF;
                        margin-bottom: 30px;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}