.header_space{
  margin-top: 72px;
}

.header_con{
  // background-color: #f3f5f7;
  // padding-top: 10px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 10;
}
.header_top_space{
  height: 30px;
  width: 100%;
  background-color: #f3f5f7;
}
.header{
  background-color: $black;
  padding: 16px 0;
  // width: 100%;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  @include flex(space-between);
  // box-shadow: 10px 10px 8px -2px rgba(163, 163, 163, 0.25);
  margin-top: -20px;
  &.scrolled{
    border-radius: 20px 20px 20px 20px;
  }
  .header_menu{
    position: relative;
    .header_menu_button{
      background-color: $yellow;
      border-radius: 0 5px 5px 0;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0 5px 0 20px;
      display: flex;
      .closeMenuIcon{
        height: 30px;
        padding: 6px;
        box-sizing: border-box;
      }
    }
    .header_menu_dropdown{
      color: white;
      background: $yellow;
      position: absolute;
      top: 25px;
      left: 0px;
      padding: 15px 0;
      border-radius: 5px;
      box-shadow: 10px 10px 8px -2px rgba(163, 163, 163, 0.25);
      transform: scale(0);
      transform-origin: top left;
      transition: 0.3s;
      &.active{
        display: block;
        transform: scale(1);
        transform-origin: top left;
        
      }
      .option_row{
        @include flex();
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
        font-size: 14px;
        &:last-child{
          margin-bottom: 0;
        }
        .option_column{
          background: $black;
          height: 35px;
          padding: 0 10px 0 15px;
          @include flex(flex-start);
          text-decoration: none;
          color: white;
          span{
            width: max-content;
            margin-left: 15px;
          }
          &:first-child{
            min-width: 200px;
            margin-right: 10px;
            border-radius: 0 5px 5px 0;
          }
          &:last-child{
            width: 100%;
            @include flex(center);
            padding: 0 10px;
            border-radius: 5px 0 0 5px !important;
          }
        }
      }
    }
  }
  .header_logo{
    color: $yellow;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include flex;
    @include mobile{
      width: 100px;
      left: 80px;
      transform: translateX(0%);
    }
    img{
      max-width: 100%;
    }
  }
  .header_right{
    @include flex();
    .header_right_basket{
      display: flex;
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
      outline: none;
    }
    .header_right_profile{
      margin: 0 30px;
      display: flex;
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
      outline: none;
      .profile_dropdown{
        position: absolute;
        top: 30px;
        right: 0;
        width: max-content;
        background: $yellow;
        font-size: 13px;
        padding: 6px 10px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 600;
        text-decoration: none;
        color: $black;
        &:hover{
          background: $yellowHover;
        }
      }
    }
    .header_right_language{
      @include flex();
      background: $yellow;
      padding: 6px 30px 6px 15px;
      border-radius: 5px 0 0 5px;
      .language{
        color: $black;
        opacity: 0.5;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        &:first-child{
          margin-right: 15px;
        }
        &.active{
          opacity: 1;
        }
      }
    }
  }
}